#Imports: car, graphics, grDevices, methods, nlme, nortest, stats, vcd

importClassesFrom(methods, list)

importFrom(car, scatterplot)

importFrom(graphics, barplot, boxplot, close.screen, legend, par, plot)

importFrom(grDevices, dev.off, png)

importFrom(methods, is, new, slot, slotNames)

importFrom(nlme, ranef, varIdent, gls, lme)

importFrom(nortest, cvm.test)

importFrom(stats, anova, as.formula, fisher.test, model.frame,
        model.matrix, na.omit, predict, qqline, qqnorm, relevel,
        resid, sd)

#importFrom(vcd, assocstats)
importFrom(logistf, logistf, logistftest)

importFrom(MASS, boxcox)

importFrom("graphics", "points", "stripchart")
importFrom("stats", "binomial", "logLik", "p.adjust", "pchisq", "qchisq", "quantile", "setNames", "vcov")
importFrom("utils", "head")

#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

exportClasses("PhenList","PhenTestResult")
